<form
action="actions.php"
  class="slide-questions"
  [formGroup]="form"
>

<div class="col-10 body" *ngFor="let quest of slide.questions; let count = index; " >
  <div *ngIf="count + 1 == 1" class="slide-info">
    <p>Slide {{ slide.slideIndex }}</p>
    <hr class="bg-light w-100 w-secondary" />
    <p>{{ quest.questionId }} / {{ totalNumberQuestions }}</p>
  </div>
  <div class="question-opanel">
    <h5 class="question">
      <span class="questionId">{{ quest.questionId }}</span>
      {{ quest.question }}
    </h5>
    <p *ngFor="let option of quest.options; let i = index">
      <input
      type="radio"
      class="radio-button"
      [name]="'option'+slide.slideIndex+quest.questionId"
      [formControlName]="'option'+slide.slideIndex+quest.questionId"
      [value]="'S' + slide.slideIndex + 'Q' + quest.questionId + 'O' + i"
      />
      <label for="option">{{option}}</label>
    </p>
  </div>
  <!-- {{slide | json}} -->
  <p></p>
</div>

  <div class="row justify-content-between btn-pane">
    <div class="">
      <button type="button" class="btn btn-primary" (click)="initPrev()" [disabled]="prevStop">
        {{ prevStop ? "First slide" : 'Go back' }}
      </button>
    </div>
    <div class="">
      <button [type]="nextStop ? 'submit' : 'button'" class="btn btn-primary" (click)="initNext($event)">
        {{ nextStop ? 'Submit survey' : 'Next slide' }}
      </button>
    </div>
  </div>
</form>

