<!-- <p>
  <strong>1/27</strong>
  {{ message }}
</p> -->
<ul *ngFor="let quest of slide.questions">
  <h5>
    {{quest.question}}
  </h5>
  <p *ngFor="let option of quest.options"><input  type="radio" class="radio-button" value="" /> <label>{{option}}</label></p>
</ul>
<!-- <ul>
  <p><input class="radio-button" type="radio" value=""><label for="">The number is not 1 but 01</label></p>
  <p><input class="radio-button" type="radio" value=""><label for="">The number is not 2 but 02</label></p>
  <p><input class="radio-button" type="radio" value=""><label for="">The number is not 3 but 03</label></p>
  <p><input class="radio-button" type="radio" value=""><label for="">The number is not 4 but 04</label></p>
</ul>
 -->
